/* Booknow.css */

.book-now-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f49487;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-now-page h2 {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(235, 62, 47);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group:last-child {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

