/* Booknow.css */
.book-now-bg {
  backdrop-filter: blur(8px);

}
.book-now-container{
  max-height: 100vh;
  justify-content: center;
} 
.book-now-page {
  position: relative;
  top: -530px;
  align-self: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eabfbb;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.652);
}

.book-now-page h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 3000;
  text-decoration: solid;
  text-shadow: #ccc;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba(233, 79, 65, 0.748);
}

.form-group {
  margin-bottom: 20px;
  transition: transform 0.3s;
  display: flex;  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #646464;
  border-radius: 4px;
  background-color: #ffffff;
}

.form-group:last-child {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.form-group input[type="text"]:hover,
.form-group input[type="email"]:hover,
.form-group input[type="date"]:hover,
.form-group input[type="time"]:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
 
}

.form-group input[type="text"]::placeholder,
.form-group input[type="email"]::placeholder,
.form-group input[type="date"]::placeholder,
.form-group input[type="time"]::placeholder {
  color: #999;
  font-style: italic;
}
.submit-button {
  background-color: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;display: flex;  justify-content: center;
}

.submit-button:hover {
  background-color: #d5004e;
}
