*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

 .Institutename{
  list-style: none;
 position: absolute;
 top:50px;
 left:170px;
  color: #010d52;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.heading {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  word-break: break-word;
}
.text-container {
  position: absolute;
  top: 450px;
  right: 0;
  transform: translate(-50%, -50%);
  padding: 20px; 
  max-width: 45%;
}

.text-container p {
  
  font-family: Inter;
  font-size: 20px;
  font-display: centre;
  font-weight: 400;
  color: #333;
  margin: 0;
  text-align: right;
  position: relative;
  padding: 5px 10px;
}

.button-container {
  position: relative;
  top:-120px ;
  left: 40px;
  display: inline-block;
}

.cloud {
  position: absolute;
  top: -380px;
  text-align: center;
  left: 105px;
  background-color:lightblue;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   font-style: italic;
}

.cloud p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}
.motion-button {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: relative; 
  top: -200px;
  left: 90px;
  transform: translateY(-100%);
}
.motion-button:hover{
  background-color: #383838;
}
.login-button{
  position: relative;
  top: 35px;
  margin-left: 215px;
  padding: 12px;
  background-color: #000;
  color: white;
  cursor: pointer;
}
.login-button:hover{
  background-color: #383838;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 2s ease-in-out;
}
@keyframes cloudMotion {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.cloud {
  animation: cloudMotion 3s ease-in-out infinite;
}

.motion-button {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.back-to-top.visible {
  opacity: 1;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.members-container{
  display: flex; 
  justify-content: space-between;
  gap: 60px;
}
.section {
  flex-basis: 45%;
}
.student-card ,
.faculty-card {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.student-card img , .faculty-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.student-card h3 , .faculty-card h3 , .team-member h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.student-card p, .faculty-card p , .team-member p{
  font-size: 16px;
  margin-bottom: 10px;
}

.arrow-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

.arrow-buttons button {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}

.arrow-buttons button:hover {
  background-color: #0056b3;
}
.student-card:hover h3 {
  transform: translateY(-10px);
}
.faculty-card:hover h3 {
  transform: translateY(-10px);
}
.team-member:hover h3 {
  transform: translateY(-10px);
}



.our-team {
  padding: 40px;
  background-color: #EAF2F8;
  overflow-x: auto;
  white-space: nowrap;
}

.team-container {
  display: flex;
  margin-right: 0px;
  align-items: center;
  margin-bottom: 40px;
}
.team-member {
  width: 390px;
  padding: 10px;
  margin: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}




/* Responsive Styles */
@media screen and (max-width: 768px) {
  .button-container {
    display: block;
    text-align: center;
  }

  .cloud {
    position: absolute;
    margin-bottom: 20px;
  }

  .book-now-button {
    display: block;
    margin: 0 auto;
    position: relative;
  }
}


.name{
  display:flex;
}
.navbar{
  height: 40px;
  width: 100%;
  position: absolute;
  top:155px;
  display: flex;
 background-color:rgb(58, 58, 58);
  filter: opacity(0.8);
}
@media (max-width: 768px) {
  .navbar, .nav1 {
    /* Adjustments for smaller screens */
height: 60px;
position: absolute;
top: 200px;
max-width: fit-content;
background-color:rgb(111,111,111);
align-items: center;
  filter: opacity(0.8);
  }
  
}

.nav1{
  position: absolute;
  top:-33px;
  list-style: none;
  display: flex;
margin: 20px;
}
.nav2{
margin: 20px;

}
.nav2 a:link{
  text-decoration: none;
  color: white;
}
.nav2 a:visited{
  color: white;
}
.nav2 a:hover{
  background-color: rgba(246, 246, 247,0.7);
  color: black;
  padding: 5px;
  border-radius: 90px;
  scale:calc(1.5);
}
#mail1:hover{
 background-color: rgba(246, 246, 247,0.7);
  color: black;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 15%;
}

.about-line {
  width: 7cm;
  height: 5px;
  background-color: #333;
  margin: 0 auto 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.about-line1{
  width: 7cm;
  height: 5px;
  background-color: #333;
  margin: 0 auto 20px;
  margin-top: -50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.container{
  color: white;
    max-width: 1190;
  }
  .footer{
    padding: 70px 0;
    background-color: rgba(52, 52, 52,0.8);
   
  
  }
  ul{
    list-style: none;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-col{
    padding:0 15px;
  }
  .footer-col h4{
    font-size: 19px;
    color:rgb(188, 218, 253);
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:white;
    text-decoration:none;
    font-weight:500;
    color:#ffffff;
    display:block;
    transition: all 0.3s ease;
  }
  .footer-col li a:hover{
    color:white;
    font-weight: 600;
    padding-left: 10px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height:40px;
    width:40px;
    background-color: rgba(255,255,255);
    color:#011ec0;
    margin:0 10px 10px 0;
    text-align: center;
   line-height: 40px;
   border-radius:50%;
  transition: all 0.3s ease;
  
  }
  .footer-col .social-links a:hover{
  color:rgb(255, 255, 255);
  background-color: rgb(15, 2, 2);
  height: 43px;
  width:43px;
  line-height:42px;
  }
  .footer-col ul a:hover{
    padding-left: 20px;
    transition: all 0.3s ease;
    text-transform: capitalize;
  }
  @media(max-width:767px){
    .footer-col{
      width:50%;
      margin-bottom: 30px;
    }
  }
  @media(max-width:574px){
    .footer-col{
      width:100%;
    }
  }
  .block1 {
    max-width:1190;
    text-align: center;
    background-color: rgb(222, 238, 255);
    max-height:1200px;
  }
  .block1 img{
    width: 150px;
  height: 155px;
  flex-shrink: 0;
  box-shadow: 0px 3px 4px 0px black;
  }
  .col-2{
    
    margin-left: 460px;
    margin-right: 460px;
    
  }
  .col-2:hover{
    background-color: rgba(162, 192, 247,0.6);
    color:rgb(5, 23, 68);
    box-shadow: 0px 1px 3px 0px black;
  }
  .col-1-row-2 img{
    position:relative;
  }
  .col-1-row-2{
    margin-right: 900px;
    margin-left: 20px;
  }
  .col-1-row-2:hover{
    background-color: rgba(162, 192, 247,0.6);
    color:rgb(5, 23, 68);
    box-shadow: 0px 1px 3px 0px black;
  }
  .col-3-row-2{
    position: relative;
   top:-299px;
   right:-126px;
   margin-right: 150px;
   margin-left: 740px;
   
  }
  .col-3-row-2:hover{
    background-color: rgba(162, 192, 247,0.6);
    color:rgb(5, 23, 68);
    box-shadow: 0px 1px 3px 0px black;
  }
  .AboutUs{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .row-3-col-1{
    padding:40px;
  
  position: relative;
  left:60px;
  top:-290px;
  }
  .row-3-col-2{
   
    padding: 40px;
    position: relative;
    left:140px;
    top:-290px;
  }
  .row-3-col-3{
  
    padding:40px;
    position: relative;
     margin-left: 500px;
    margin-right: 450px;
    right:-400px;
    top:-648px;
  }
  .row-3-col-1:hover{
    background-color: rgba(162, 192, 247,0.6);
    color:rgb(5, 23, 68);
    box-shadow: 0px 1px 3px 0px black;
  }
  .row-3-col-2:hover{
    background-color: rgba(162, 192, 247,0.6);
    color:rgb(5, 23, 68);
    box-shadow: 0px 1px 3px 0px black;
  }
  .row-3-col-3:hover{
    background-color: rgba(162, 192, 247,0.6);
    color:rgb(5, 23, 68);
    box-shadow: 0px 1px 3px 0px black;
  }
  .fac-button-1{
    display: inline-flex;
    padding: 5px 4px 4px 5px;
    align-items: flex-start;
    border: 1px solid #366FEB;
  background: #366FEB;
  box-shadow: 0px 5px 16px 0px rgba(9, 188, 137, 0.51);
  position: relative;
  top:-600px;
  color: #ffffff;
  }
  .faq img{
    height: 300px;
    width: 500px;
  }
  .faq table{
    border-spacing: 30px;
  }
  .faq tr td{
   
    width:500px ;
  }
  .tb-col-1{
    padding-right: 20px;
    padding-left: 70px;
  }
  