.login-container,login-bg {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
  }
 
  .login-form {
    padding: 20px;
    background-color:rgb(240, 189, 185) ;
    border-radius: 5px;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #101112;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #fc9d81;
  }
  